<section class="mt-6">
  <p class="text-center text-5xl text-blue-600">Linked Posts</p>
  <div
    class="lg:w-1/2 mx-auto p-4 mt-5 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <p class="text-xl font-medium text-blue-600 dark:text-white">Login Now</p>
      <div>
        <input type="email" name="email" id="email" formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          placeholder="Type your email...." [ngClass]="{
            'border-green-500': !loginForm.get('email')?.errors &&
              (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
            'border-red-500': loginForm.get('email')?.errors &&
              (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
          }" />
        @if( loginForm.get('email')?.errors &&
        (loginForm.get('email')?.touched||loginForm.get('email')?.dirty )){
        <div class="alert alert-danger w-full bg-red-100 border border-red-400 text-red-700 p-4 rounded-md">
          @if (loginForm.get('email')?.getError('required')) {
          <P class="m-0">Email is required</P>} @else if
          (loginForm.get('email')?.getError('email')) {
          <P class="m-0">Enter Valid Email </P> }
        </div>
        }
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="Type your password" formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [ngClass]="{
    'border-green-500': !loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
    'border-red-500': loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
  }" />
        @if (loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)) {
        <div class="alert alert-danger w-full bg-red-100 border border-red-400 text-red-700 p-4 rounded-md">
          @if (loginForm.get('password')?.getError('required')) {
          <p class="m-0">Password is required</p>
          } @else if (loginForm.get('password')?.getError('pattern')) {
          <p class="m-0">Must be at least 6 chars</p>
          }
        </div>
        }
      </div>
      <div class="flex items-start">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <button type="submit"
              class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">signin
              @if (isLoading) {<span><i class="fas fa-spin fa-spinner"></i></span>}</button>
          </div>
        </div>
      </div>

      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Not registered? <a routerLink="/register" class="text-blue-700 hover:underline dark:text-blue-500">Create
          account</a>
      </div>
    </form>
  </div>

</section>
