<section>
  <div
    class="lg:w-1/2  mx-auto  mt-28 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" [formGroup]="changePassForm" (ngSubmit)="changePassSubmit()">
      <p class="text-xl font-medium text-blue-600 dark:text-white">Change Password</p>

      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old password</label>
        <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [ngClass]="{
            'border-green-500': !changePassForm.get('password')?.errors &&
                (changePassForm.get('password')?.touched || changePassForm.get('password')?.dirty),
            'border-red-500': changePassForm.get('password')?.errors &&
                (changePassForm.get('password')?.touched || changePassForm.get('password')?.dirty)
          }" />
        @if (changePassForm.get('password')?.errors &&
        (changePassForm.get('password')?.touched || changePassForm.get('password')?.dirty)) {
        <div class="alert alert-danger w-full bg-red-100 border border-red-400 text-red-700 p-4 rounded-md">
          @if (changePassForm.get('password')?.getError('required')) {
          <p class="m-0">Password is required</p>
          } @else if (changePassForm.get('password')?.getError('pattern')) {
          <p class="m-0">Must be at least 6 chars</p>
          }
        </div>
        }
      </div>

      <div>
        <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
          password</label>
        <input type="password" formControlName="newPassword" name="newPassword" id="newPassword" placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [ngClass]="{
            'border-green-500': !changePassForm.get('newPassword')?.errors &&
                (changePassForm.get('newPassword')?.touched || changePassForm.get('newPassword')?.dirty),
            'border-red-500': changePassForm.get('newPassword')?.errors &&
                (changePassForm.get('newPassword')?.touched || changePassForm.get('newPassword')?.dirty)
          }" />
          @if (changePassForm.get('newPassword')?.errors &&
          (changePassForm.get('newPassword')?.touched || changePassForm.get('newPassword')?.dirty)) {
          <div class="alert alert-danger w-full bg-red-100 border border-red-400 text-red-700 p-4 rounded-md">
            @if (changePassForm.get('newPassword')?.getError('required')) {
            <p class="m-0">password is required</p>
            } @else if (changePassForm.get('newPassword')?.getError('pattern')) {
            <p class="m-0">Must be at least 6 chars</p>
            }
          </div>
          }
      </div>

      <!-- <div>
        <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
          password</label>
        <input type="password" formControlName="rePassword" name="rePassword" id="rePassword" placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [ngClass]="{
            'border-green-500': !changePassForm.get('rePassword')?.errors &&
                (changePassForm.get('rePassword')?.touched || changePassForm.get('rePassword')?.dirty),
            'border-red-500': changePassForm.get('rePassword')?.errors &&
                (changePassForm.get('rePassword')?.touched || changePassForm.get('rePassword')?.dirty)
          }" />
        @if (changePassForm.getError('mismatch') &&
        (changePassForm.get('rePassword')?.touched||changePassForm.get('rePassword')?.dirty
        )){
        <p class="alert alert-danger w-100">Password confirmation is incorrect</p>
        }
      </div> -->

      <button type="submit"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset
        Password</button>

    </form>
  </div>

</section>
